@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@200;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

    body {
        background-image: url('https://cdn.discordapp.com/attachments/1169965501053681704/1171407154431926313/bg.jpg?ex=655c90ed&is=654a1bed&hm=4143212aa07e223397937122420cc6e6cc40e7ef3a5542be7b3f845ced9d3c5e&'); /* Replace 'your-image-file.jpg' with the actual image file path */
        background-size: cover;
        background-repeat: no-repeat; 
        font-family: 'Inter', sans-serif;
        
    }

.main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.head{
    width: 80%;
    height: 75px;
    background-color: white;
    border-radius: 100px;
    margin: 50px;
    display: flex;
    flex-direction: row;
   
}
.hpart{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hpart2{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 80%;
}
.butt{
    font-family: 'Inter', sans-serif;
    font-size: 120%;
}
.butt2{
    font-family: 'Inter', sans-serif;
    font-size: 120%;
    color: white;
}
a{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.logbutt{
    border: 1px solid rgb(87, 86, 86);
    width: 80%;
    border-radius: 100px;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      
}
.logbutt:hover {
    background-color: #e02d16; 
}
.regbutt{
    width: 80%;
    border-radius: 100px;
    height: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {
    font-family: 'Inter', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em BLACK;
    font-size: 200%;
}
.text {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 80%;
    margin: 5%;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em BLACK;
    font-size: 140%;

}
/*Calendar!!*/
.main2{
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-image: url("asset/bg.jpg");
    background-color: #071013;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.calb{
    background-color:white;
    border-radius: 30px;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.calhead{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    border: 1px solid black;
    width: 30%;
    border-radius: 100px;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nametext {
        font-family: 'Inter', sans-serif;
        color: black;
        width: 80%;
        margin: 5%;
        text-align: center;
        font-size: 140%;

}
.taskcat{
    width: 100%;
    height: 5%;
    background-color: #D4D2D5;
    display: flex;
}
.cat{
    border: 1px solid black;
    width: 10%;
    border-radius: 100px;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
}
.task{
    width: 100%;
    height: 15%;
    background-color: #D4D2D5;
    display: flex;
    margin-top: 1%;
}
/*sidebar*/
.burger-icon {
    display: none; /* Initially hide the burger icon on larger screens */
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2B59C3;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
    border-radius: 20px;
    border: solid black;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 125px;
    font-size: 36px;
    margin-left: 50px;
}



@media screen and (max-width: 600px) {
 .box{
    width: 80%;
    height: 95%;
 }
   
  .head{
    width: auto;
    justify-content: left;
    display: flex;
    align-items: left;
  }
 .hpart,.hpart2{
    display: none;

 }
 .boximg{
   display: none;
 }
 .logo{
    display: none;
 }
 .int{
    height: 80%;
 }
 .add{
    height: 20%;
 }
 .pogaadd{
    width: 50%;
 }
  .boxinput{
    width: 80%;
    }
    .boxlable{
        width: 80%;
    }
    .taskDate{
        padding-bottom: none;
    }
    /*Sidebar*/

    
      .burger-icon {
        display: block; 
      }
    
      .bar {
        background-color: #071013; 
      }
      .x{
        width: 100%;
        height: 20%;
      }
      .linki{
        width: 100%;
        height: 80%;
      }








}






